@import "palette";


.cart-image {
  width: 17rem;
  height: 17rem;
  margin-left: 1rem;
}

.purchase-info {
  font-family: 'Source Sans Pro', serif;
  color: @font-main-color;
  font-size: 2rem;
  margin-left: 1rem;
}

.price-info {
  color: @font-main-color;
  font-family: 'Source Sans Pro', serif;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .vinyl-info {
    margin-bottom: 1rem;
  }

}

@media (min-width: 768px) {
  .vinyl-info {
    margin-bottom: 11.8rem;
  }

}

#cart-message {
  font-family: 'Source Sans Pro', serif;
  color: @font-main-color;
  font-size: 2.7rem;
}
